div.terminal_entry {
    background-color: rgb(24, 22, 22);
    display: flex;
    border-radius: .75rem;
    /* justify-content: center; */
    align-items: center;
    height: 3rem;
    width: 42.5rem;
}

div.terminal_entry p.user {
    color: #FFF;
}

input.entry {
    background-color: inherit;
    border: none;
    color: #FFF;
    height: 45%;
    outline: thin !important;
    width: 100%;
}

div.history {
    background-color: rgb(24, 22, 22);
    border-radius: .75rem;
    height: 7.9in;
    overflow-y: auto;
    width: 42.5rem;
}

div.history p {
    color: #FFF;
    text-indent: 1rem;
}

button.execute {
    background-color: rgb(36, 37, 36);
    border: none;
    border-radius: 6px;
    color: #FFF;
    cursor: pointer;
    width: 3.75rem;
}